*{
    font-family: 'Dongle', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}

.margin{
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

.cleafix::after{
    content: '';
    display: table;
    clear: both;
}

.blc{
    float: left;
    width: 31%;
    margin-right: 15px;
    margin-bottom: 30px;
   
}
   
.img{ max-width: 100%;
      margin-right: 10px;
}

.nred{
    color: red;
    font-weight: bold;
}

.lineth{
    text-decoration: line-through;
}

.discount {
    background-color: red;
    color: white;
    position: absolute;
    bottom: 5%;
    padding: 3px;
    font-weight:700
}

.sost {
    background-color: green;
    position: absolute;
    bottom: 5%;
    padding: 3px;
    left: 15%;
    color: white;
    font-weight:700
}
.sost1{
    background-color: green;
    position: absolute;
    bottom: 5%;
    padding: 3px;
    color: white;
    font-weight:700
    
}


.position{
    position: relative;
}

